useDynLib(plw)

export(estimateMVbeta)
export(estimateSigmaMVbeta)
export(estimateSigmaMV)
export(estimateSigma)
export(getKnots)
export(lmw)
export(plw)
export(scaleParameterPlot)
export(topRankSummary)
export(varHistPlot)

export(plotSummaryLog2FC)
export(plotSummaryT)

export(logitTTransform)
export(logitTStat)
export(studenttTTest)

export(madByIndex)
export(meanByIndex)
export(medianByIndex)
export(orderStatByIndex)
export(sdByIndex)
export(meanSdByRow)

S3method(print,plw)
S3method(print,topRankSummary)
