useDynLib(plw)

importMethodsFrom(affy, hist, pm, probeNames)
importFrom(affy, bg.correct.rma)
importFrom(graphics, abline, axis, box, legend, lines, par, plot,
           points)
importFrom(MASS, ginv)
importFrom(splines, ns)
importFrom(stats, cov, density, df, lm, mad, median, optim, pt, qnorm,
           quantile, sd, var)

export(estimateMVbeta)
export(estimateSigmaMVbeta)
export(estimateSigmaMV)
export(estimateSigma)
export(getKnots)
export(lmw)
export(plw)
export(scaleParameterPlot)
export(topRankSummary)
export(varHistPlot)

export(plotSummaryLog2FC)
export(plotSummaryT)

export(logitTTransform)
export(logitTStat)
export(studenttTTest)

export(madByIndex)
export(meanByIndex)
export(medianByIndex)
export(orderStatByIndex)
export(sdByIndex)
export(meanSdByRow)
export(HowToPLW)
S3method(print,plw)
S3method(print,topRankSummary)
